/build/

/kernel/.config_*
/kernel/obj/
/kernel/axi_ram.mif
/kernel/kernel.bin
/kernel/kernel.elf
/kernel/kernel.s

/utility/crypto/crypto.bin
/utility/crypto/crypto_legacy.bin
/utility/crypto/crypto.mif
/utility/fibonacci/fibonacci.bin
/utility/fibonacci/fibonacci.elf
/utility/fibonacci/fibonacci.disasm
/utility/fibonacci/fibonacci.mem
/utility/fibonacci/fibonacci.mif
/utility/fibonacci/fibonacci.o
/utility/matrix/matrix.bin
/utility/matrix/matrix.in
/utility/matrix/matrix.mif
/utility/matrix/matrix.out
/utility/matrix/matrix_expected.bin
/utility/matrix/matrix_expected.mif
/utility/matrix/matrix_input.bin
/utility/matrix/matrix_input.mif
/utility/matrix/matrix_legacy.bin
/utility/mixed/mixed.bin
/utility/mixed/mixed.mif
/utility/mixed/mixed.out
/utility/mixed/mixed_signature.bin
/utility/mixed/mixed_signature.mif
