fpga/project
obj
.Xil
loongson-gnu-toolchain-8.3-x86_64-loongarch32r-linux-gnusf-v2.0
newlib
picolibc
clk_pll_sim_netlist.v
clk_pll_sim_netlist.vhdl
clk_pll_stub.v
clk_pll_stub.vhdl
clk_pll.dcp
*.bin
axi_ram.mif
ext_ram.mif
sdk/kernel.s
fft512_output_re.txt
fft512_output_im.txt
ifft512_output_re.txt
ifft512_output_im.txt
sim/verilator/obj_dir/
sim/verilator/*.fst
__pycache__/
*.py[cod]
/documents/
/fpga/vivado*.jou
/fpga/vivado*.log
/fpga/.codex_*.tcl
/sdk/toolchains/*.tar.*
